<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head">

</head>
<body class="bg-warning">
<header th:replace="fragments/commons::nav">
</header>
<main role="main" class="bg-warning">
    <div>
        <h4> Milk free diet</h4>
        <img class="rounded" width="25%" src="/images/fruits-blossom.jpg" alt="Fruits blossom picture">
        <p>
            Milk free diet
            Why are milk-free diets used? Some people cannot tolerate milk.
            This may be due to an allergy or intolerance to milk protein or from an inability
            to digest the sugar (lactose) found in milk. All milk and milk products should be excluded unless it is known that the person can tolerate small quantities or highly cooked milk. If lactose (milk sugar) is causing the problem most people will be able to tolerate some lactose without getting symptoms .
            If doing a milk-free diet trial,it is best to follow the diet strictly to begin with and to  get a clear answer. The milk should be reintroduced to check any improvement was due to the diet. It is  possible to find a level of milk which is tolerated.
        </p>
        <table class="table table-bordered">
            <thead>

            <tr>
                <th scope="col">Day of week</th>

                <th scope="col">Breakfast</th>

                <th scope="col">Lunch</th>

                <th scope="col">Dinner</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Monday</th>

                <td>Soya yogurt, Rice Krispies,apple juice</td>

                <td> Vegetable Ravioli with Tomato Sauce, Steamed Brown Rice, plain cookie </td>

                <td> Chicken broth, Egg Salad, pickles, Rice Krispy Treats </td>
            </tr>

            <tr>
                <th scope="row">Tuesday</th>

                <td>Porridge, pure fruit juice </td>

                <td> Chicken Noodle soup, Goulash , bananas </td>

                <td> Farmer’s Meatloaf, Oven Roasted Potatoes, diary free vanila ice cream </td>
            </tr>

            <tr>
                <th scope="row">Wednesday</th>

                <td >Bran Flakes, pear </td>

                <td> Scrambled Eggs, roasted turkey with gravy </td>

                <td> Vegetable Ravioli with Tomato Sauce, Steamed Brown Rice, plain cookie</td>
            </tr>

            <tr>
                <th scope="row">Thursday</th>

                <td > Weetabix with soya milk, banana </td>

                <td>Roasted Turkey with Gravy mashed potatoes, double chocolate chip cookies</td>

                <td>Beef Tips with Mushrooms egg noodles, carrot and bean, orange</td>
            </tr>

            <tr>
                <th scope="row">Friday</th>

                <td > Cornflakes with soya milk, pure fruit juice </td>

                <td>Roasted Pork Loin with Gravy mashed sweet potatoes, applesauce </td>

                <td> Asian Chicken Stir Fry, Green Peas Carrot, Peach Slices </td>
            </tr>

            <tr>
                <th scope="row">Saturday</th>

                <td > Banana pancakes, soya ice cream </td>

                <td>Chicken Marsala rice, broccoli, cherry tart </td>

                <td>Spaghetti Bolognese, corn, fresh fruit</td>
            </tr>

            <tr>
                <th scope="row">Sunday</th>

                <td > Bran Flakes or scrambled eggs, pear </td>

                <td> Vegetarian Chili over Brown Rice, plain cookie </td>

                <td> Open-Faced Roast Beef Sandwich mashed potatoes ,fruit cup</td>
            </tr>

            </tbody>
        </table>
        <img class="rounded" width="25%" src="/images/puree-1.jpg" alt="Fruits blossom picture">
    </div>
    <div>
        <h4>
            Low potassium diet
        </h4>
        <p>
            Low Potassium diet This information should only be used for patients with a high potassium level and should be followed with supervision from a Dietitian. Fruit and vegetables are a very important part of your diet and can actually help to regulate your potassium levels when eaten in the correct amounts, so please continue to include them unless they are in the list to be avoided. You can still aim for 5 portions of fruit and vegetables a day from the lower potassium list, and using specific cooking methods as below will also help you enjoy these foods whilst lowering their potassium content .
            For more information please check with CATERING DEPARTMENT.
        </p>
    </div>
    <div>
      <h4>
          Puree diet
      </h4>
        <p>
            For more information please check with CATERING DEPARTMENT.
        </p>
    </div>
    <div>
        <h4>
            Gluten free diet
        </h4>
        <p>
            DA GO DOPISHA For more information please check with CATERING DEPARTMENT.
        </p>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Day of week</th>

                <th scope="col">Breakfast</th>

                <th scope="col">Lunch</th>

                <th scope="col">Dinner</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <th scope="row">Monday</th>

                <td> Banana pancakes with fruit</td>

                <td> Mexican bean salad with seed garnish, Apple  Ready salted crisps</td>

                <td>  Roast chicken, 50g dried apricot ,Banana</td>
            </tr>

            <tr>
                <th scope="row">Tuesday</th>

                <td> Scrambled eggs on GF toast with seeds</td>

                <td> Butternut squash and sweet potato soup ,GF brown seeded roll</td>

                <td> Leftovers curry, apple</td>

            </tr>

            <tr>
                <th scope="row">Wednesday</th>

                <td > Peanut butter and banana on GF toast</td>

                <td> Sweet jacket potato with salad ,Clementine</td>

                <td> Vegetable fajitas with GF wraps , cookies with coconut</td>
            </tr>

            <tr>
                <th scope="row">Thursday</th>

                <td > GF cereal with nuts, fruit and raisins</td>

                <td> Poached egg with tomato on GF toast, 50g dried apricots</td>

                <td> Sausage and mash with red onion gravy, banana, carrots</td>

            </tr>

            <tr>

                <th scope="row">Friday</th>

                <td > GF cereal and fruit</td>

                <td> Roasted vegetable pasta salad , apple</td>

                <td> Asian Chicken Stir Fry, Green Peas Carrot, Peach Slices </td>
            </tr>

            <tr>
                <th scope="row">Saturday</th>

                <td > Pancakes with fruit and seeds</td>

                <td> Cheese on GF toast with tomato ,clementine</td>

                <td> Smoked mackerel and leek pasta bake, fresh fruit</td>

            </tr>

            <tr>
                <th scope="row">Sunday</th>

                <td > Strawberry jam on GF toast</td>

                <td> Butternut squash and sweet potato soup ,GF brown seeded roll</td>

                <td> Potato and leftover sausage* fritata, ready salted crisps</td>
            </tr>
            </tbody>
        </table>
        <img class="rounded" width="25%" src="/images/healthy-eating-.jpg" alt="Food picture">
        <hr class="my-4">
        <p> Order time
            BREAKFAST must be ordered by 6:30 pm (the previous evening)
            LUNCH must be ordered by 10:45 am
            DINNER must be ordered by 3:45 pm </p>

    </div>
</main>
<footer th:replace="fragments/commons::footer">
</footer>
</body>
</html>


</body>
</html>