<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<header th:replace="~{fragments/commons::nav}">
</header>
<body>
<div class="jumbotron">
    <h2 class="display-4">We care!</h2>
    <img class="rounded" width="25%" src="/images/hospital-food.jpg" alt="Hospital food picture">
    <p class="lead">Every nurse in charge must inform the patients about patient menu.
    Our meal program offer two types of menu.They depend on which week is.
    For example : week even and week odd menus</p>
    <hr class="my-4">
    <div class="col-md-4">
        <div class="row">
            <img width="50px" src="/images/hospital-food.jpg" alt="Food image">
            <h2 class="pl-5">Week even menu</h2>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr style="background-color: #ffcd90; color: blueviolet; font-weight: bold">
                <th scope="col">Day of week</th>

                <th scope="col">Breakfast</th>

                <th scope="col">Lunch</th>

                <th scope="col">Dinner</th>
            </tr>

            </thead>
            <tbody>
            <tr >
                <th scope="row">Monday</th>

                <td>French Toast bacon, banana, blueberry yogurt, orange juice, coffee</td>

                <td>Chicken Sandwich, tropical fruit cup, chocolate chip cookie</td>

                <td>Pot Roast with Gravy garlic mashed potatoes, corn, peaches, sherbet</td>
            </tr>

            <tr>
                <th scope="row">Tuesday</th>

                <td>Buttermilk Pancakes ,Blueberry, apple juice, coffee</td>

                <td>Goulash broccoli, dinner roll, pears, frosted brownie</td>

                <td>Glazed Pork with carrot and bean, scalloped potatoes, grapes, apple crisp</td>
            </tr>

            <tr>
                <th scope="row">Wednesday</th>

                <td >Scrambled Eggs, apple muffin, juice, coffee</td>

                <td>Chicken French with Linguini green beans and red peppers, fruited gelatin</td>

                <td>Lasagna, Caesar salad, garlic toast, fruit cup</td>
            </tr>

            <tr>
                <th scope="row">Thursday</th>

                <td >Mini blueberry muffins,oranges, raspberry yogurt, coffee</td>

                <td>Roasted Turkey with Gravy mashed potatoes, double chocolate chip cookies</td>

                <td>Beef Tips with Mushrooms egg noodles, carrot and bean, vanilla pudding</td>
            </tr>

            <tr>
                <th scope="row">Friday</th>

                <td >Buttermilk Pancakes, banana, blueberry yogurt, coffee</td>

                <td>Fish Sandwich sweet potato fries, cole slaw, pears</td>

                <td>Ricotta Stuffed Shells garlic breadstick, tossed salad, fruit cup, milk</td>
            </tr>

            <tr>
                <th scope="row">Saturday</th>

                <td >Cheese Omelet, mandarin, peach yogurt, coffee</td>

                <td>Chicken Marsala rice, broccoli, cherry tart, milk</td>

                <td>Spaghetti Bolognese, corn, fresh fruit</td>
            </tr>

            <tr>
                <th scope="row">Sunday</th>

                <td >Waffles ,vanilla yogurt, warm cinnamon apple slices, orange juice, coffe</td>

                <td>Roasted Pork Loin with Gravy mashed sweet potatoes, green beans, applesauce</td>

                <td>Macaroni and Cheese fresh vegetable plate, fruit cup</td>
            </tr>
            </tbody>
        </table>

        <div class="row">
            <img width="50px" src="/images/hospital-food.jpg" alt="Food image">
            <h2 class="pl-5">Week odd menu</h2>
        </div>

        <table class="table table-bordered">
            <thead>
            <tr style="background-color: #ffcd90; color: blueviolet; font-weight: bold">

                <th scope="col">Day of week</th>

                <th scope="col">Breakfast</th>

                <th scope="col">Lunch</th>

                <th scope="col">Dinner</th>
            </tr>

            </thead>
            <tbody>
            <tr>
                <th scope="row">Monday</th>

                <td>Blueberry Muffin , apple juice, coffee</td>

                <td>Tomato soup, Chicken Noodle, Oatmeal Raisin cookie</td>

                <td>Grilled Chicken Breast Sandwich, Steak Fries, Broccoli, orange juice</td>
            </tr>

            <tr>
                <th scope="row">Tuesday</th>

                <td>Buttermilk Pancakes ,Blueberry, apple juice, coffee</td>

                <td>Beef broth, penne primavera, sweet corn, bananas</td>

                <td>Farmer’s Meatloaf, Regular Potato Chips, Carrots, grapes, milk</td>
            </tr>

            <tr>

                <th scope="row">Wednesday</th>

                <td >Waffles vanilla yogurt, warm cinnamon apple slices, orange juice, coffee/td>

                <td>Garden or Black Bean Burger, spinach, fruited gelatin</td>

                <td>Shef Salad, Crispy Baked Cod, Steamed White Rice, milk</td>
            </tr>

            <tr>
                <th scope="row">Thursday</th>

                <td >Buttermilk Biscuit, greek yougurt, orange, coffee</td>

                <td>Fresh Fruit Plate with Cottage Cheese, Oven Roasted Potatoes, chocolate</td>

                <td>Grilled Chicken Breast, Mashed Potatoes, Green Peas Carrots,milk</td>
            </tr>

            <tr>
                <th scope="row">Friday</th>

                <td >Scrambled Eggs, apple muffin, juice, coffee</td>

                <td>Fish Sandwich sweet potato fries, cole slaw, pears</td>

                <td>Pot Roast with Gravy garlic mashed potatoes, corn, peaches, sherbet, milk</td>
            </tr>

            <tr>
                <th scope="row">Saturday</th>

                <td >Cheese Omelet, mandarin, peach yogurt, coffee</td>

                <td>Chicken Marsala rice, broccoli, cherry tart, milk</td>

                <td>Roasted Turkey with Gravy mashed potatoes, applesauce,fresh fruit</td>
            </tr>
            <tr>
                <th scope="row">Sunday</th>

                <td >Waffles ,vanilla yogurt, warm cinnamon apple slices, orange juice, coffe</td>

                <td>Roasted Pork Loin with Gravy mashed sweet potatoes, green beans, applesauce</td>

                <td> Tomato soup, Chicken Noodle, Oatmeal Raisin cookie </td>
            </tr>
            </tbody>
        </table>


        <hr class="my-4">
        <p> Order time
            BREAKFAST must be ordered by 6:30 pm (the previous evening)
            LUNCH must be ordered by 10:45 am
            DINNER must be ordered by 3:45 pm </p>
        <p class="lead">
            <a class="btn btn-success btn-lg" href="/nurses/profile" role="button">Back to profile</a>
        </p>
</div>
<footer th:replace="fragments/commons::footer">
</footer>
</div>
</body>
</html>