<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head">

</head>
<body class="bg-light">
<header th:replace="fragments/commons::nav">
</header>
<main class="p-5 align-content-center bg-light my-register-div">
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-7">
                <div class="profile-card p-3 py-4">
                    <div class="text-center"><img src="/images/bolnica.jpg" width="100" class="rounded-circle"></div>
                    <div class="text-center mt-3" th:object="${nurse}">
                        <span th:text="*{lastName}" class="bg-secondary p-1 px-4 rounded text-danger"> </span>
                        <h5 class="mt-4 mb-0">Last name</h5>
                        <span th:text="*{username}">  </span>
                        <h5 class="mt-2 mb-0">Username</h5>
                        <span th:text="*{ward}">  </span>
                        <h5 class="mt-2 mb-0">Ward</h5>
                        <span th:text="*{patients.add(patients)}"> </span>
                        <h5 class="mt-2 mb-0">Patients</h5>
                        <span>todo patient list by names</span>
                        <div class="buttons">
                            <button class="btn btn-outline-primary px-4">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<footer th:replace="fragments/commons::footer">
</footer>
</body>
</html>
