<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head">
    <title>Register record</title></head>
<body class="bg-secondary">
<header th:replace="fragments/commons::navbar"></header>
<main class="p-5 align-content-center container text-light text-center ">
    <img class="rounded" width="50%" src="/images/hands-heart.jpg" alt="Hands and heart background">
    <h1 class="border-bottom">Register patient's medical record</h1>
    <div class="d-flex justify-content-center ">
        <div class="row g-3">
            <form th:method="post"
                  th:object="${medicalRecordBindingModel}"
                  th:action="@{/record/register}">

                <div>
                    <div class="col-auto">
                        <label for="inputEgn" class="col-form-label ">Egn</label>
                    </div>
                    <div class="col-auto">
                        <input th:field="*{patientEgn}"
                               th:errorclass="is-invalid"
                               required maxlength="10"
                               type="number"
                               id="inputEgn"
                               class="form-control"
                               aria-describedby="egnHelpInline">
                        <small
                                class="invalid-feedback  bg-danger text-light rounded">
                            Enter valid egn!.
                        </small>
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputMainDiagnosis" class="col-form-label ">Main diagnosis</label>
                    </div>
                    <div class="col-auto">
                        <input th:field="*{mainDiagnosis}"
                               th:errorclass="is-invalid"
                               type="text"
                               id="inputMainDiagnosis"
                               class="form-control"
                               aria-describedby="mainDiagnosisHelpInline">
                        <small
                               class="invalid-feedback  bg-danger text-light rounded">
                            Please enter main diagnosis.</small>
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputPastConditions" class="col-form-label ">Past conditions</label>
                    </div>
                    <div class="col-auto">
                        <input th:field="*{pastConditions}"
                               type="text"
                               id="inputPastConditions"
                               class="form-control"
                               aria-describedby="pastConditionsHelpInline">
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputHasSmoke" class="col-form-label ">Do you smoke</label>
                    </div>
                    <div class="col-auto">
                        <input th:field="*{hasSmoke}"
                               th:errorclass="is-invalid"
                               type="checkbox"
                               id="inputHasSmoke"
                               class="form-control"
                               aria-describedby="hasSmokeHelpInline">
                        <small id="hasSmokeError"
                               class="invalid-feedback  bg-danger text-light rounded">Please choose one of the options.</small>
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputHasDrink" class="col-form-label ">Do you drink ?</label>
                    </div>
                    <div class="col-auto">
                        <input th:field="*{hasDrink}"
                               th:value="true"
                               th:errorclass="is-invalid"
                               type="checkbox"
                               id="inputHasDrink"
                               class="form-control"
                               aria-describedby="hasDrinkHelpInline">
                        <small
                               class="invalid-feedback  bg-danger text-light rounded">
                            Please check.</small>
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputHasDiabetic" class="col-form-label ">Are you diabetic ?</label>
                    </div>
                    <div class="col-auto">
                        <input th:field="*{hasDiabetic}"
                               th:value="true"
                               th:errorclass="is-invalid"
                               type="checkbox"
                               id="inputHasDiabetic"
                               class="form-control"
                               aria-describedby="hasDiabeticHelpInline">
                        <small
                               class="invalid-feedback  bg-danger text-light rounded">
                            Please check.</small>
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputHasHighPressure" class="col-form-label ">Do you have high pressure ?</label>
                    </div>
                    <div class="col-auto">
                        <input th:field="*{hasHighPressure}"
                               th:value="true"
                               th:errorclass="is-invalid"
                               type="checkbox"
                               id="inputHasHighPressure"
                               class="form-control"
                               aria-describedby="hasHighPressureHelpInline">
                        <small
                               class="invalid-feedback  bg-danger text-light rounded">
                            Please check.</small>
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputHasAllergies" class="col-form-label ">Has allergies ?</label>
                    </div>
                    <div class="col-auto">
                        <input th:field="*{hasAllergies}"
                               th:value="true"
                               th:errorclass="is-invalid"
                               type="checkbox"
                               id="inputHasAllergies"
                               class="form-control"
                               aria-describedby="hasAllergiesHelpInline">
                        <small
                               class="invalid-feedback  bg-danger text-light rounded">
                            Please check.</small>
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputNameOfAllergies" class="col-form-label ">Name of allergies.</label>
                    </div>
                    <div class="col-auto">
                        <input th:field="*{nameOfAllergies}"
                               th:errorclass="is-invalid"
                               type="text"
                               id="inputNameOfAllergies"
                               class="form-control"
                               aria-describedby="nameOfAllergiesHelpInline">
                        <small
                               class="invalid-feedback  bg-danger text-light rounded">
                            Please name it.</small>
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputHasCurrentMedications" class="col-form-label ">Does the patient take medications?</label>
                    </div>
                    <div class="col-auto">
                        <input th:field="*{hasCurrentMedications}"
                               th:value="true"
                               th:errorclass="is-invalid"
                               type="checkbox"
                               id="inputHasCurrentMedications"
                               class="form-control"
                               aria-describedby="hasCurrentMedicationsHelpInline">
                        <small
                               class="invalid-feedback  bg-danger text-light rounded">
                            Please check.</small>
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputNameOfMedications" class="col-form-label ">Name</label>
                    </div>
                    <div class="col-auto">
                        <input th:field="*{nameOfMedications}"
                               th:errorclass="is-invalid"
                               type="text"
                               id="inputNameOfMedications"
                               class="form-control"
                               aria-describedby="nameOfMedicationsHelpInline">
                        <small
                               class="invalid-feedback  bg-danger text-light rounded">
                            Please name it.</small>
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputFamilyIlnessHistory" class="col-form-label ">Family history of ilnesses.</label>
                    </div>
                    <div class="col-auto">
                        <input th:field="*{familyIlnessHistory}"
                               type="text"
                               id="inputFamilyIlnessHistory"
                               class="form-control"
                               aria-describedby="familyIlnessHistoryHelpInline">
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputAccompanyingIlness" class="col-form-label ">Accompanying ilness .</label>
                    </div>
                    <div class="col-auto">
                        <input th:field="*{accompanyingIlness}"
                               type="text"
                               id="inputAccompanyingIlness"
                               class="form-control"
                               aria-describedby="accompanyingIlnessHelpInline">
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputHasSurgicalProceduresInThePast" class="col-form-label ">Has surgical procedures in the past</label>
                    </div>
                    <div class="col-auto">
                        <input th:field="*{hasSurgicalProceduresInThePast}"
                               th:value="true"
                               th:errorclass="is-invalid"
                               type="checkbox"
                               id="inputHasSurgicalProceduresInThePast"
                               class="form-control"
                               aria-describedby="hasSurgicalProceduresInThePastHelpInline">
                        <small
                               class="invalid-feedback  bg-danger text-light rounded">
                            Please choose.</small>
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputNameOfPatSurgicalProceduresAndDate" class="col-form-label ">Name and date.</label>
                    </div>
                    <div class="col-auto">
                        <input th:field="*{nameOfPatSurgicalProceduresAndDate}"
                               th:errorclass="is-invalid"
                                   type="text"
                               id="inputNameOfPatSurgicalProceduresAndDate"
                               class="form-control"
                               aria-describedby="hasSurgicalProceduresInThePastHelpInline">
                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputOther" class="col-form-label ">Other.</label>
                    </div>
                    <div class="col-auto">
                        <input th:field="*{other}"
                               type="text"
                               id="inputOther"
                               class="form-control"
                               aria-describedby="otherHelpInline">
                    </div>
                </div>

                <div class="d-flex justify-content-center mt-4">
                    <button class="btn btn-primary btn-block w-50" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</main>
<footer th:replace="fragments/commons::footer">
</footer>
</body>
</html>


