<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head">

</head>
<body class="bg-light">
<header th:replace="fragments/commons::nav">
</header>
<main class="p-5 align-content-center bg-light my-register-div">

  <div class="container mt-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8">
        <div class="ward p-3 py-4">
          <div class="text-center"><img src="/images/ward.jpg" width="300" height="100" class="sticky-top"></div>

          <h3 class="text-center">St.Sophia hospital : all wards </h3>

        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="row">
                <h2 class="pl-5">Cardiology ward</h2>
              </div>
              <p class="mt-3 "> The cardiology ward care for less acutely ill cardiac
                patients and has a heart failure focus supported by a heart failure specialist nurse.
                Our nursing care is patient focused and our aim is to deliver care
                to meet the needs of our patients and their families. For this reason we have
                extended our visiting times to 12pm until 7pm.
              </p>
            </div>

        <div class="col-md-4">
          <div class="row">
            <h2 class="pl-5">Ortopedic ward</h2>
          </div>
          <p class="mt-3">  Orthopaedics is the medical specialty that focuses on injuries and diseases of your body's musculoskeletal system. This system is made up of muscles and bones, as well as joints, ligaments, and tendons.

          </p>
        </div>

        <div class="col-md-4 ">
          <div class="row">
            <h2 class="pl-5">Oncology ward</h2>
          </div>
          <p class="mt-3"> The Oncology Ward We care for patients undergoing investigations and treatment for different forms of cancer. Our multidisciplinary team of doctors, nurses, pharmacists, dietitians, physiotherapists and occupational therapists, to mention just a few, supports patients during their stay

          </p>
        </div>
        <div class="col-md-4">
          <div class="row">
            <h2 class="pl-5">General surgery ward</h2>
          </div>
          <p class="mt-3">  We care for patients who need planned and emergency surgery.
            General surgery is a large department within the Trust and includes specialist surgery such as vascular surgery, breast surgery, colorectal surgery, laparoscopic or keyhole surgery and upper gastrointestinal surgery.

            Together with our dedicated teams of nurses, junior doctors and support staff, we try to make sure your treatment is smooth, efficient and of the highest clinical standards.


          </p>
        </div>

        <div class="col-md-4">
          <div class="row">
            <h2 class="pl-5">Nephrology ward</h2>
          </div>
          <p class="mt-3">  The Nephrology department provides a comprehensive inpatient and outpatient service for patients with kidney disease, including acute and chronic kidney disease.
            There is an active renal replacement therapy programme which includes treatment with chronic peritoneal dialysis or haemodialysis and renal transplantation.
          </p>
        </div>
          </div>
      </div>
    </div>
  </div>
  </div>
</main>
<footer th:replace="fragments/commons::footer">
</footer>
</body>
</html>